In [1]:
import pandas as pd
import numpy as np

In [2]:
not_hot_data = pd.read_csv('spotify_millsongdata.csv') 
#reading the file, provide your own path, depending on where you saved the file.

In [3]:
not_hot_data

,artist,song,link,text
0,ABBA,Ahe's My Kind Of Girl,/a/abba/ahes+my+kind+of+girl_20598417.html,"Look at her face, it's a wonderful face \r\nA..."
1,ABBA,"Andante, Andante",/a/abba/andante+andante_20002708.html,"Take it easy with me, please \r\nTouch me gen..."
2,ABBA,As Good As New,/a/abba/as+good+as+new_20003033.html,I'll never know why I had to go \r\nWhy I had...
3,ABBA,Bang,/a/abba/bang_20598415.html,Making somebody happy is a question of give an...
4,ABBA,Bang-A-Boomerang,/a/abba/bang+a+boomerang_20002668.html,Making somebody happy is a question of give an...
...,...,...,...,...
57645,Ziggy Marley,Good Old Days,/z/ziggy+marley/good+old+days_10198588.html,Irie days come on play \r\nLet the angels fly...
57646,Ziggy Marley,Hand To Mouth,/z/ziggy+marley/hand+to+mouth_20531167.html,Power to the workers \r\nMore power \r\nPowe...
57647,Zwan,Come With Me,/z/zwan/come+with+me_20148981.html,all you need \r\nis something i'll believe \...
57648,Zwan,Desire,/z/zwan/desire_20148986.html,northern star \r\nam i frightened \r\nwhere ...
57649,Zwan,Heartsong,/z/zwan/heartsong_20148991.html,come in \r\nmake yourself at home \r\ni'm a ...

In [4]:
#dropping the columns we don`t need and saving our new DF as 'not_hot_list'
not_hot_list = not_hot_data.drop(columns=['link', 'text'])
not_hot_list

             artist                   song
0              ABBA  Ahe's My Kind Of Girl
1              ABBA       Andante, Andante
2              ABBA         As Good As New
3              ABBA                   Bang
4              ABBA       Bang-A-Boomerang
...             ...                    ...
57645  Ziggy Marley          Good Old Days
57646  Ziggy Marley          Hand To Mouth
57647          Zwan           Come With Me
57648          Zwan                 Desire
57649          Zwan              Heartsong

[57650 rows x 2 columns]

In [5]:
#switching the order of the columns, so that it matches the order of our hot songs DF

not_hot_list = not_hot_list[['song', 'artist']]
not_hot_list

                        song        artist
0      Ahe's My Kind Of Girl          ABBA
1           Andante, Andante          ABBA
2             As Good As New          ABBA
3                       Bang          ABBA
4           Bang-A-Boomerang          ABBA
...                      ...           ...
57645          Good Old Days  Ziggy Marley
57646          Hand To Mouth  Ziggy Marley
57647           Come With Me          Zwan
57648                 Desire          Zwan
57649              Heartsong          Zwan

[57650 rows x 2 columns]

In [6]:
from random import sample

In [7]:
list_of_numbers = np.arange(0, 57650, 1).tolist()

In [8]:
random_sample=sample(list_of_numbers,2500)

In [9]:
reduced=not_hot_list.iloc[random_sample].reset_index(drop=True)

In [10]:
reduced

                                      song                 artist
0                            Still Remains    Stone Temple Pilots
1                       He Believes In You         Point Of Grace
2                                 Bad Omen               Megadeth
3                             Classic Rock               Kid Rock
4     Fat Boy Slim - Right Here, Right Now            Fatboy Slim
...                                    ...                    ...
2495                        The Boy's Gone             Jason Mraz
2496                         My Lovely Man  Red Hot Chili Peppers
2497                           For Ur Love            Chris Brown
2498   If It's Not What You're Looking For          Kenny Loggins
2499                    Answer Me, My Love          Joni Mitchell

[2500 rows x 2 columns]

In [11]:
hot_songs = pd.read_csv('../Morning/hot_songs.csv') 
hot_songs

                     song                                artist
0      Paint The Town Red                              Doja Cat
1                  Snooze                                   SZA
2                Fast Car                            Luke Combs
3            Cruel Summer                          Taylor Swift
4   I Remember Everything  Zach Bryan Featuring Kacey Musgraves
..                    ...                                   ...
95     Standing Room Only                            Tim McGraw
96              Checkmate                              Rod Wave
97        Can't Have Mine                           Dylan Scott
98             On My Mama                        Victoria Monet
99   Love Is Embarrassing                        Olivia Rodrigo

[100 rows x 2 columns]

In [12]:
#=()[]{}
merged = pd.concat([reduced, hot_songs], axis=0).reset_index(drop=True)

In [13]:
merged

                                      song               artist
0                            Still Remains  Stone Temple Pilots
1                       He Believes In You       Point Of Grace
2                                 Bad Omen             Megadeth
3                             Classic Rock             Kid Rock
4     Fat Boy Slim - Right Here, Right Now          Fatboy Slim
...                                    ...                  ...
2595                    Standing Room Only           Tim McGraw
2596                             Checkmate             Rod Wave
2597                       Can't Have Mine          Dylan Scott
2598                            On My Mama       Victoria Monet
2599                  Love Is Embarrassing       Olivia Rodrigo

[2600 rows x 2 columns]

In [14]:
duplicates = merged.duplicated()

In [15]:
duplicates

0       False
1       False
2       False
3       False
4       False
        ...
2595    False
2596    False
2597    False
2598    False
2599    False
Length: 2600, dtype: bool

In [89]:
X=0
for i in duplicates: 
    if i == True: 
        X=X+1
X

0

In [16]:
reduced.to_csv("not_hot_songs.csv", index=False)